<!DOCTYPE html>
<html>
  <head>
    <title>Project</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse">
        <i class="material-icons">menu</i>
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">text 1</a></li>
        <li><a href="#">text 2</a></li>
        <li><a href="#">text 3</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="#">text 1</a></li>
        <li><a href="#">text 2</a></li>
        <li><a href="#">text 3</a></li>
      </ul>
    </div>
  </nav>

    <%= yield %>
  </body>
</html>
